@charset "windows-1255";

.container {
	width: 100%;
	background-color: rgba(45, 145, 147, 0.2);
	
	
}
body{
	
}
.indext {
	width: 80%;
	margin: 0 auto;
	border: none;
	/* border-color:  rgba(45, 145, 147, 0.2); */
	/*   background-color: red; */
}
.form-control{
	
}
.indeximages {
	display: block;
	width: 100%;
	height: auto;
	opacity:0.845;
}
.indeximages:hover{
	opacity:1;
}
.tdind {
	/* 	background: rgba(45, 145, 147, 0.2); */
	border: none;
	padding: 0;
}
.tbodyclass{
/* 	border-color: #00ffff;
 */}
.tdindtxt {
	text-align: center;
	vertical-align: middle;
	background: rgba(255, 128,64, 0.35);
	border: none;
	padding: 0;
	color:#800000;
}

}
a:link {
	color: #0080c0;
}

/* visited link */
a:visited {
	color: #0080c0;
}

/* mouse over link */
a:hover {
	color: #00ff00;
}

/* selected link */
a:active {
	color: #0080c0;
}